 .Acedu{
    float: left;
}

#official{
     display: none; 

}

h1{
    text-align: center;
    text-transform: uppercase;
    color: brown;

}

body{
    background-color: darkseagreen;
}

span{
  font-weight: bolder;
  color: black;
}

.address{
    float: right;
}